/**
 * Le code css pour le site Hesdinevent's
 */

:root{
    --btn:#003366;
    --btnHover: #6699CC;
    --link: #003366;
    --linkHover: #6699CC;
    --text: #333333;
    --bg1: #F2F2F2
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Roboto",'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F2F2F2;
    color: var(--text);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/**
 * Le header pour la page d'accueil
 */

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    width: 90%;
    max-height: 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg1);
    color: #333333;
    border-radius: 25px;
    box-shadow: 0px 0px 3px 4px #8f8f8f;
    position: fixed;
    top: 15px;
}
/*
header .logo{
    width: 100px;
}

header .logo img{
    width: 100%;
}
    */

.header .logo a{
    font-size: clamp(24px, 26px, 28px);
    font-weight: 900;
    font-style: italic;
    color: #003366;
} 

.navDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navDiv nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navDiv nav ul li a{
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    transition: ease-in-out 500ms;
}

.navDiv nav ul li a:hover{
    color: var(--linkHover);
    padding-bottom: 5px;
    border-bottom: var(--linkHover) solid 2px;
}

.navDiv .CTA{
    padding: 10px;
    border: 1px solid var(--btn);
    background-color: var(--btn);
    border-radius: 12px;
    transition: ease-in-out 500ms;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.navDiv .CTA:hover{
    background-color: var(--btnHover);
    border: 1px solid var(--btnHover);
    padding: 11px;
    color: black;
}

header .iconeMenuOvrant,
header .iconeMenuFermant{
    display: none;
}

/**
 * Le main
 */
main{
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 100px 0px 0px 0px;
}

 /* Code générale pour toute les sections */
section{
    width: 100%;
}

/* La section héros */
.heros{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 30px 50px 30px;
    margin-top: 120px;
}

@media screen and (max-width:600px) {
    .heros{
        margin-top: 50px;
    }
}

.heros .texteHeros{
    text-align: left;
    max-width: 550px;
}

.heros .texteHeros .titreHeros{
    color: var(--btn);
    font-size: clamp(22px, 100vw, 28px);
    font-weight: 900;
    margin-bottom: 20px;
}

.heros .texteHeros .descriptionHeros{
    margin-bottom: 20px;
}

.heros .texteHeros .btnHeros{
    border: solid 1px var(--btn);
    border-radius: 5px;
    background-color: var(--btn);
    box-shadow: 2px 2px 3px 4px var(--btn);
    padding: 13px;
    transition: ease-in-out 500ms;
    color: white;
    margin-bottom: 45px;
}

.heros .texteHeros .btnHeros:hover{
    border: solid 1px var(--btnHover);
    background-color: var(--btnHover);
    border-radius: 5px;
    box-shadow: 0px 0px 7px 6px #b7d8f8;
    padding: 15px;
}

.heros .imgHeros{
    max-width: 300px;
    object-fit: cover;
    height: auto;
}

.heros .imgHeros img{
    max-width: 100%;
    border-radius: 10px;
    transition: ease-out 500ms;
}

.heros .imgHeros img:hover{
    transform: rotate();
}

/* La section à propos */
.apropos{
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
    background-color: white;
}

.apropos .imgApropos{
    max-width: 400px;
    height: auto;
    width: auto;
    object-fit: cover;
}

.apropos .imgApropos img{
    width: 100%;
    border-radius: 15px;
    transition: all 500ms;
}

.apropos .texteApropos{
    text-align: left;
    max-width: 450px;
    width: fit-content;
    text-wrap: wrap;
}

.apropos .texteApropos .titreApropos{
    font-size: 22px;
    font-weight: 600;
    color: var(--btn);
    margin-bottom: 15px;
    border-bottom: solid 4px var(--btn);
    width: fit-content;
}

.apropos .texteApropos .descriptionApropos{
    font-size: 20px;
}

/* La section nos services */
.services{
    padding: 30px 15px;
    margin-top: 50px;
}

.services .servicesHeading{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.services .servicesHeading .titreServices{
    font-size: 22px;
    font-weight: 600;
    color: var(--btn);
    border-bottom: solid 4px var(--btn);
    width: max-content;
    display: inline;
}

.services .servicesHeading p{
    margin-top: 15px;
}

.services .containerServices{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 30px;
    padding: 30px 5px;
}

.services .containerServices .boxServices{
    max-width: 300px;
    min-height: 400px;
    object-fit: cover;
    border: solid rgb(218, 218, 218) 0.1px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgb(36, 36, 36);
}

.services .containerServices .boxServices img{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

.services .containerServices .boxServices .boxTitreServices{
    color: var(--btn);
    font-size: 20px;
    font-weight: 600;
    padding: 20px 10px;
}

.services .containerServices .boxServices .boxTitreServices span{
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}

.services .servicesBtnDiv{
    width: 100%;
    text-align: center;
    padding: 15px 5px;
}

.services .servicesBtnDiv .btnServices{
    margin-top: 15px;
    padding: 13px;
    background-color: var(--btn);
    border: solid 1px var(--btn);
    border-radius: 15px;
    color: white;
    transition: ease-in 500ms;
}

.services .servicesBtnDiv .btnServices{
    padding: 15px;
    background-color: #E6C068;
    border: solid 1px #E6C068;
    color: #333333;
    font-weight: 500;
    
}

/**
 * Footer
 */
footer .footer{
    background: url(../images/couverture.webp) top center no-repeat;
    background-size: cover;
}

footer .footerDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    background-color: rgba(44, 44, 44, 0.938);
    padding: 30px;
}

footer .footerDiv .footerBox{
    text-align: left;
    color: white;
    max-width: 250px;
    width: fit-content;
    text-wrap: wrap;
    margin-top: 15px;
}

footer .footerDiv .footerBox .titreFooter{
    font-size: 22px;
    font-weight: 400;
    color: #E6C068;
    margin-bottom: 15px;
    border-bottom: solid 1px #E6C068;
}

footer .footerDiv .footerBox ul li a{
    color: white;
}

footer .footerDiv .footerBox ul li a:hover{
    transition: all 500ms;
    text-decoration: underline;
}

footer .credit{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}